#edior {
    border: 4px solid black;
    padding: 10px;
}
body {
    background: url("../img/bgimage.png");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: inherit;
}
.pass {
    background-color: green;
    padding: 10px;
    margin: 10px;
}

.fail {
    background-color: red;
    padding: 10px;
    margin: 10px;
}

.driverButton{
    padding: 10px;
    margin: auto;
}

.info {
    display: none;
}
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
  }